.leftArrow{
    border: none;
    color: black;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.3);
    position: absolute;
    left: 0%;
    top: 50%;
    z-index: 1000;
}

.rightArrow{
    border: none;
    color: black;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.3);
    position: absolute;
    top: 50%;
    z-index: 1000;
    right: 0%;
}